.advantages {
  background-color: $grey-1;
}

.advantages h2 {
  text-align: center;
  font-family: $font-bebas;
  color: $blue;
  font-size: 49px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0.03em;
  margin: 0;
  padding-top: 121px;
}

.advantages__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.advantages__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 50%;
  min-height: 236px;
}

.advantages__number {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 44px;
}

.advantages__number span {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #2e35ac;
  padding-top: 4px;
}

.advantages__number--col2 {
  padding-top: 49px;
  padding-left: 162px;
}

.advantages__item span {
  font-family: $font-roboto;
  color: $blue-2;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.advantages__content {
  padding-top: 47px;
  padding-left: 32px;
}

.advantages__content h3 {
  font-family: $font-roboto;
  letter-spacing: -1px;
  color: $blue;
  font-size: 22px;
  line-height: 150%;
  font-weight: 700;
  margin: 0;
}

.advantages__content p {
  font-family: $font-roboto;
  color: $blue;
  font-size: 16px;
  line-height: 140%;
  font-weight: 300;
  margin: 0;
  padding-top: 5px;
  padding-right: 67px;
}

.advantages__content--col1 p {
  padding-right: 185px;
} 


.advantages__item--center {
  background-color: $blue-3;
  color: $white;
  width: 240px;
  height: 307px;
  box-sizing: border-box;
  text-align: center;
  padding: 50px 34px;
}

.advantages__item--center-text {
  color: $white;
  font-family: $font-roboto;
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;
}

.advantages__item--center p {
  font-size: 16px;
  line-height: 24px;
  font-family: $font-roboto;
  margin-top: 37px;
}

.advantages__item--center-number {
  font-family: $font-roboto;
  font-weight: 700;
  font-size: 74px;
  line-height: 80px;
}
  
@media (max-width: $tablet-width) {
  .advantages h2 {
    font-size: 42px;
    line-height: 42px;
    padding-top: 112px;
  }
  
  .advantages__list {
    padding: 0;
    margin: 0;
  }

  .advantages svg {
    width: 86px;
    height: 42px;
  }

  .advantages__number {
    padding-top: 50px;
    padding-left: 0;
  }

  .advantages__content {
    padding-top: 41px;
    padding-left: 15px;
  }

  .advantages__item--row1 {
    margin-bottom: 165px;
  }

  .advantages__number--col2 span {
    padding-left: 12px;
  }

  .advantages__content--col1 {
    padding-left: 27px;
  }   

  .advantages__content p {
    padding-top: 0;
    padding-right: 4px;
  }
  
  .advantages__item--center {
    width: 442px;
    height: 239px;
    top: 40%;
    padding: 28px 126px 0;
    display: flex;
    flex-direction: column;
  }

  .advantages__item--center-text {
    font-size: 22px;
    line-height: 33px;
  }

  .advantages__item--center p {
    margin-top: 14px;
  }

  .advantages__item--center-number {
    min-height: 55px;
  }
}

@media (max-width: $mobile-width) {
  .advantages h2 {
    font-size: 32px;
    line-height: 32px;
    padding-top: 70px;
  }

  .advantages__number {
    align-items: center;
  }
  
  .advantages__list {
    flex-direction: column;
  }

  .advantages__item {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6px;
  }

  .advantages__content {
    box-sizing: border-box;
    padding: 10px 20px 0;
    text-align: center;
  }

  .advantages__item--row1 {
    margin-bottom: 0;
  }

  .advantages__content p {
    padding-top: 0;
    padding-right: 0;
    min-width: 232px;
  }
  
  .advantages__item--center {
    height: 239px;
    top: 43%;
    padding: 29px 126px;
    display: flex;
    flex-direction: column;
  }

  .advantages__item--center-text {
    font-size: 22px;
    line-height: 33px;
  }

  .advantages__item--center-number {
    min-height: 55px;
  }

  .advantages__number--col2 {
    padding-top: 0;
  }

  .advantages__item--parking {
    margin-bottom: 183px;
  }
}