.banner__content {
  display: flex;
  flex-direction: column;
  position: relative;
}

.banner__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.banner__title {
  color: $white;
  text-transform: uppercase;
  text-align: right;
  margin: 0;
  padding-top: 114px;
}

.banner__title h2 {
  font-family: $font-bebas;
  letter-spacing: 0.04em;
  margin: 0;
  font-size: 109px;
  line-height: 109px;
  padding-top: 5px;
}

.banner__city {
  font-family: $font-bebas;
  font-size: 49px;
  line-height: 59px;
  margin: 0;
}

.banner__subtext {
  position: absolute;
  top: 286px;
  left: -67px;
  text-align: right;
  list-style: none;
  font-family: $font-roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: $white;
  margin-bottom: 20px;
}

.banner__content a {
  display: block;
  width: 230px;
  height: 57px;
  box-sizing: border-box;
  padding-top: 22px;
  border: 0;
  outline: 4px solid $white;
  font-family: $font-roboto;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  margin-top: 53px;
  margin-left: 120px;
  margin-bottom: 30px;

  &:hover {
    background-color: $white;
    color: $black;
  }
}

.banner__social {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  list-style: none;
  font-family: $font-roboto;
  font-size: 12px;
  line-height: 14px;
  color: $white;
  padding-bottom: 27px;
  padding-left: 181px;

  @media (max-width: 1260px) {
    padding-left: 120px;
  }
}

.banner__social li {
  padding: 10px;
}

.banner__social a {
  font-family: $font-roboto;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  color: $white;

  &:hover {
    color: $black;
  }
}

.banner__img {
  max-width: 100%;
  height: auto;
  padding-left: 62px;
}

@media (max-width: $tablet-width) {
  .banner__title {
    padding-left: 48px;
    padding-top: 72px;
    width: 230px;
  }

  .banner__title h2 {
    font-size: 86px;
    line-height: 86px;
    padding-top: 0;
    padding-left: 0;
  }

  .banner__city {
    font-size: 34px;
    line-height: 41px;
  }

  .banner__content {
    width: 100%;
  }

  .banner__subtext {
    top: 189px;
    left: -85px;
    font-size: 14px;
    line-height: 21px;
  }

  .banner__social {
    display: none;
  }

  .banner__content a {
    width: 183px;
    height: 57px;
    margin-top: 42px;
    margin-left: 96px;
  }

  .banner__img img {
    width: 324px;
    height: 390px;
  }

  .banner__img {
    padding-left: 30px;
    padding-top: 20px;
  }
}

@media (max-width: $mobile-width) {
  .banner__title {
    padding-top: 73px;
    padding-left: 62px;
  }

  .banner__title h2 {
    font-family: $font-bebas;
    font-size: 78px;
    line-height: 78px;
    padding-top: 8px;
    padding-left: 2px;
    margin: 0;
  }

  .banner__city {
    font-size: 28px;
    line-height: 34px;
  }

  .banner__subtext {
    position: inherit;
    top: 0;
    left: 0;
    display: block;
    margin-right: 219px;
    padding: 0;
    margin-top: -78px;
    width: 150px;
  }

  .banner__content {
    margin: 0 auto;
    align-items: center;
    max-width: 320px;
    justify-content: stretch;
  }

  .banner__content a {
    width: 284px;
    height: 53px;
    margin: 15% 0;
  }

  .banner__img img {
    width: 324px;
    height: 390px;
  }

  .banner__img {
    display: none;
  }
}
