.container {
    max-width: 1250px;
    padding-left: 45px;
    padding-right: 45px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
@media (max-width: $mobile-width) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
  