.events {
  padding-top: 124px;
}

.events__container {
  display: flex;
  flex-direction: row;
}

.events__main {
  background-color: $red;
  width: 43.5%;
  padding-left: 79px;
  min-height: 400px;
  padding-bottom: 86px;
  box-sizing: border-box;
}

.events__img {
  width: 57%;
  background-image: url("../img/crossfit-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 660px 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/crossfit-desktop@2x.jpg");
  }
}

.events__header {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  min-height: 260px;
}

.events__header h2 {
  font-family: $font-bebas;
  width: 201px;
  color: $white;
  font-size: 90px;
  line-height: 90px;
  letter-spacing: 0.03em;
  margin-bottom: 0;
}

.events__timetable {
  padding-top: 69px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.events-date p,
.events-time p,
.events h3 {
  font-family: $font-roboto;
  color: $white;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.events h3 {
  margin: 0;
}

.events-time p {
  border-bottom: 1px solid $white;
  box-sizing: border-box;
  padding-bottom: 3px;
  width: 88px;
  margin-bottom: 0;
  margin-top: 0;
}

.events-date p {
  width: 64px;
  border-bottom: 1px solid $white;
  margin-bottom: 0;
  margin-top: 0;
}

.events-date__number span,
.events-time span {
  font-weight: 700;
  color: $white;
  font-family: $font-roboto;
  font-size: 40px;
  line-height: 150%;
}

.events-date__number {
  display: flex;
  flex-direction: row;
}

.events-date__month {
  padding-top: 7px;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
}

.events-time {
  padding-top: 7px;
}

.events-date__month span {
  font-family: $font-roboto;
  color: $white;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.events__main a {
  margin-top: 49px;
  padding: 25px;
  font-family: $font-roboto;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-decoration: none;
  background-color: transparent;
  box-sizing: border-box;
  border: 0;
  width: 343px;
  height: 67px;
  outline: 4px solid $white;
  color: $white;
  display: block;
  text-align: center;

  &:hover {
    background-color: $white;
    color: $black;
  }
}

@media (max-width: $tablet-width) {
  .events {
    padding-top: 103px;
    min-height: 300px;
  }

  .events__main {
    padding-left: 46px;
    width: 43%;
    min-height: 292px;
    padding-bottom: 52px;
  }

  .events__img {
    background-image: url("../img/crossfit-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 100% 100%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/crossfit-tablet@2x.jpg");
    }
  }

  .events__header {
    min-height: 142px;
  }

  .events__header h2 {
    width: 145px;
    font-size: 52px;
    line-height: 54px;
    margin-top: 40px;
  }

  .events__timetable {
    padding-top: 36px;
    padding-left: 0;
  }

  .events-date p,
  .events-time p {
    font-size: 12px;
    line-height: 20px;
  }

  .events h3 {
    font-size: 12px;
    line-height: 12px;
  }

  .events-date__number span,
  .events-time span {
    font-size: 24px;
    line-height: 34px;
  }

  .events-date__month span {
    font-size: 10px;
    line-height: 15px;
  }

  .events-date__month {
    padding-top: 1px;
    padding-left: 2px;
  }

  .events-time {
    padding-top: 0;
  }

  .events-date p {
    width: 42px;
  }

  .events-time p {
    width: 56px;
    padding-bottom: 0;
  }

  .events__main a {
    margin-top: 33px;
    padding: 14px;
    font-size: 10px;
    line-height: 12px;
    width: 198px;
    height: 39px;
  }
}

@media (max-width: $mobile-width) {
  .events {
    padding-top: 71px;
    min-height: 600px;
  }

  .events__container {
    display: flex;
    flex-direction: column;
    min-height: 600px;
  }

  .events__timetable {
    padding-top: 39px;
  }

  .events h3 {
    line-height: 15px;
  }

  .events__main {
    width: 100%;
    padding-left: 0;
    height: 100%;
    min-height: 292px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }

  .events__img {
    display: block;
    width: 100%;
    min-height: 292px;
    background-image: url("../img/crossfit-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: bottom 0 left 50%;
    background-size: 100% 100%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/crossfit-mobile@2x.jpg");
    }
  }

  .events__main a {
    margin: 30px;
  }
}
