.footer {
  padding-top: 67px;
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.footer__consulting-wrapper {
  box-sizing: border-box;
  padding-left: 103px;
  padding-top: 66px;
}

.footer__consulting {
  background-color: $blue;
  color: $white;
  width: 50%;
}

.footer__consulting h2,
.footer__contacts h2 {
  font-family: $font-bebas;
  font-weight: 700;
  font-size: 49px;
  line-height: 64px;
  letter-spacing: 0.03em;
  margin: 0;
}

.footer__form {
  padding-top: 25px;
  width: 410px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.footer__form-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__form input {
  font-family: $font-roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  min-width: 190px;
  color: $white;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #74819c;
  padding: 5px 0;
  box-sizing: border-box;
  border-radius: 0;
  box-shadow: none;

  &::placeholder {
    color: $white;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    border-bottom: solid 1px $red;
  }
}

.footer__form button {
  cursor: pointer;
  letter-spacing: 0.05em;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  font-family: $font-roboto;
  padding: 15px 40px;
  background-color: transparent;
  box-sizing: border-box;
  border: 3px solid $white;
  color: $white;
  box-shadow: none;
  margin-top: 33px;
  text-transform: uppercase;

  &:hover {
    background-color: $white;
    color: $blue;
  }
}

.footer__contacts {
  width: 50%;
  min-height: 337px;
  border-top: 1px solid $black;
  color: $blue;
}

.footer__contacts-wrapper {
  box-sizing: border-box;
  padding-left: 123px;
  padding-top: 64px;
  padding-right: 160px;
}

.footer__contacts-content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-family: $font-roboto;
  padding-top: 32px;

  &::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 102px;
    background-color: #74819c;
    left: 57.9%;
    top: 35px;
  }
}

.footer__contact {
  padding-bottom: 20px;
}

.footer__contact h3 {
  font-family: $font-roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  margin: 0;
}

.footer__contact p,
.footer__contact a {
  font-family: $font-roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  margin: 0;
  color: $blue;
}

.footer__contact a {
  margin: 0;
  color: $blue;

  &:hover,
  &:focus {
    color: $red;
  }
}

.footer__nav {
  background-color: $blue-4;
  color: $white;
  padding-bottom: 33px;
}

.footer__nav-container {
  padding-top: 46px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__logo {
  font-family: $font-bebas;
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
  text-transform: uppercase;
  min-width: 14%;
}

.footer__pages {
  list-style: none;
  min-width: 454px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0;
  padding-right: 30px;
  padding-left: 0;
}

.footer__pages li {
  padding-right: 37px;
}

.footer__pages a {
  color: $white;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-size: 14px;
  line-height: 16px;
  font-family: $font-roboto;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.footer__social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 9.5%;
  flex-wrap: wrap;
}


.footer__social a {
  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

@media (max-width: $tablet-width) {
  .footer {
    padding-top: 57px;
  }

  .footer__wrapper {
    flex-direction: column;
  }

  .footer__consulting {
    width: 100%;
    padding-bottom: 71px;
  }

  .footer__consulting-wrapper {
    min-width: 768px;
    padding-top: 71px;
    padding-left: 134px;
    padding-right: 163px;
    margin: 0 auto;
  }

  .footer__consulting h2,
  .footer__contacts h2 {
    font-size: 42px;
    line-height: 42px;
    text-align: left;
  }

  .footer__form {
    min-width: 100%;
    width: 100%;
    padding-top: 20px;
  }

  .footer__form input {
    width: 45%;
    padding-top: 15px;
  }

  .footer__form input[type="tel"] {
    margin-left: 10px;
  }

  .footer__form button {
    margin-top: 31px;
  }

  .footer__contacts {
    width: 100%;
    min-height: 350px;
  }

  .footer__contacts-wrapper {
    padding-left: 133px;
    padding-top: 68px;
    padding-right: 179px;
  }

  .footer__contacts-content {
    flex-direction: row;
    padding-top: 31px;

    &::before {
      content: "";
      height: 129px;
      left: 57.9%;
      top: 40px;
    }
  }

  .footer__contact h3 {
    font-size: 18px;
    line-height: 34px;
  }

  .footer__contact p,
  .footer__contact a {
    font-size: 18px;
    line-height: 28px;
  }

  .footer__contacts-item--col2 {
    padding-left: 0;
  }

  .footer__logo {
    min-width: 18%;
  }

  .footer__pages {
    min-width: 420px;
    padding-right: 0;
  }

  .footer__pages li {
    padding-right: 26px;
  }

  .footer__social {
    min-width: 14.5%;
  }
}

@media (max-width: $mobile-width) {
  .footer {
    padding-top: 26px;
  }

  .footer__wrapper {
    flex-direction: column;
  }

  .footer__consulting {
    width: 100%;
    padding-bottom: 71px;
  }

  .footer__consulting-wrapper {
    min-width: 290px;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 72px;
  }

  .footer__consulting h2,
  .footer__contacts h2 {
    font-size: 32px;
    line-height: 32px;
    text-align: left;
  }

  .footer__form {
    width: 100%;
    padding-top: 27px;
  }

  .footer__form input {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 24px;
  }

  .footer__form button {
    width: 294px;
    margin-top: 13px;
    font-size: 14px;
    line-height: 16px;
  }

  .footer__contacts {
    width: 100%;
    padding-bottom: 40px;
  }

  .footer__contact {
    padding-bottom: 24px;
  }

  .footer__contacts-wrapper {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 68px;
  }

  .footer__contacts-content {
    flex-direction: column;
    padding-top: 35px;

    &::before {
      display: none;
    }
  }

  .footer__contact h3 {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1px;
  }

  .footer__contact p,
  .footer__contact a {
    font-size: 18px;
    line-height: 29px;
  }

  .footer__contacts-item {
    width: 100%;
  }

  .footer__nav-container {
    position: relative;
    padding-top: 50px;
    flex-direction: column;
  }

  .footer__logo {
    position: absolute;
    left: 16px;
    top: 50px;
    font-size: 20px;
    line-height: 20px;
  }

  .footer__contacts-item--col2 {
    padding-left: 0;
  }

  .footer__pages {
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 0;
    align-self: stretch;
    margin-left: 0;
    margin-top: 0;
    height: 120px;
  }

  .footer__pages li {
    padding-right: 81px;
    padding-bottom: 21px;
  }

  .footer-page {
    padding-top: 39px;
  }

  .footer__social {
    min-width: 0;
    width: 50%;
  }

  .footer__nav {
    padding-bottom: 46px;
  }
}
