.header {
  position: relative;
  width: 100%;
  background: url("../img/main-bg.jpg") no-repeat center;
  background-size: cover;
  background-color: red;
  min-height: 650px;
  padding-bottom: 10px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 29px;
}

.header__nav-item {
  font-family: $font-bebas;
  font-weight: 400;
  font-size: 26px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 0.04em;
  color: $white;
}


.header__nav-item svg {
  fill: $white;
}

.header__nav-item--tel:hover {
  opacity: 0.5;
}

@media (max-width: $tablet-width) {
  .header {
    min-height: 455px;
    padding-bottom: 76px;
  }

  .header__nav {
    padding-top: 40px;
  }

  .header__nav-item {
    font-size: 24px;
    line-height: 24px;
  }

  .header__nav-item svg {
    width: 82px;
    height: 17px;
  }
}

@media (max-width: $mobile-width) {
  .header {
    min-height: 420px;
    padding-bottom: 38px;
  }

  .header__nav {
    padding-top: 20px;
  }

  .header__nav-item {
    font-size: 20px;
    line-height: 20px;
  }

  .header__nav-item svg {
    width: 68px;
    height: 15px;
  }
}
