.promotions {
  padding-top: 118px;
  padding-bottom: 119px;
}

.promotions h2 {
  text-align: center;
  font-family: $font-bebas;
  color: $blue;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  margin: 0;
}

.promotions__wrapper {
  padding-top: 51px;
  min-height: 462px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.promotions__main {
  width: 48%;
  display: flex;
  flex-direction: row;
  background-color: $red;
}

.promotions__img {
  width: 280px;
  background-color: $red;
  background-image: url("../img/promotions-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 280px 462px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/promotions-desktop@2x.jpg");
  }
}

.promotions__text {
  width: 280px;
  box-sizing: border-box;
  padding-top: 40px;
  padding-left: 46px;
}

.promotions__description {
  margin: 0;
  font-family: $font-roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: $white;
  max-width: 189px;
  padding-top: 4px;
}

.promotions__year {
  font-family: $font-roboto;
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
  color: $white;
  margin: 0;
}

.promotions__text span {
  color: $white;
  font-family: $font-roboto;
  font-weight: 700;
  font-size: 70px;
  line-height: 127%;
}

.promotions__text a {
  display: block;
  width: 79px;
  margin-top: 190px;
  margin-bottom: 20px;
  color: $white;
  font-weight: 700;
  font-family: $font-roboto;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-bottom: 1px solid $white;

  &:hover {
    color: $blue;
    border-bottom: 1px solid $blue;
  }
}

.promotions-offers {
  display: flex;
  min-height: 462px;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.promotions-offers__item {
  min-width: 550px;
  min-height: 197px;
  border: 7px solid $white;
  border-image: linear-gradient(170deg, #d10a42, #00359f);
  border-image-slice: 1;
}

.promotions-offers__item-text h3 {
  font-family: $font-roboto;
  font-weight: 700;
  font-size: 26px;
  line-height: 150%;
  color: $blue-3;
  margin: 0;
}

.promotions-offers__item-text p {
  padding-top: 3px;
  font-family: $font-roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: $blue-3;
  margin: 0;
}

.promotions-offers__item-text {
  box-sizing: border-box;
  padding-top: 18px;
  padding-left: 31px;
}

.promotions-offers a {
  display: block;
  margin-top: 72px;
  color: $blue-3;
  font-weight: 700;
  font-family: $font-roboto;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-bottom: 1px solid $blue-3;
  width: 68px;

  &:hover {
    color: $red;
    border-bottom: 1px solid $red;
  }
}

@media (max-width: $tablet-width) {
  .promotions {
    min-height: 764px;
    padding-top: 95px;
    padding-bottom: 85px;
  }

  .promotions h2 {
    font-size: 42px;
    line-height: 42px;
  }

  .promotions__wrapper {
    padding-top: 40px;
    flex-wrap: wrap;
  }

  .promotions__main {
    display: flex;
    flex-direction: row;
    min-height: 461px;
    width: 100%;
  }

  .promotions__img {
    min-width: 59%;
    background-size: 100%;
    background-image: url("../img/promotions-tablet@1x.jpg");
    background-position: 100% 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/promotions-tablet@2x.jpg");
    }
  }

  .promotions__text {
    min-width: 41%;
    box-sizing: border-box;
    padding-top: 40px;
    padding-left: 46px;
  }

  .promotions-offers {
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
    min-height: 211px;
    flex-direction: row;
  }

  .promotions-offers__item {
    min-width: 0;
    width: 46%;
    min-height: 198px;
    margin-bottom: 15px;
  }

  .promotions-offers__item--1 p {
    padding-right: 56px;
  }

  .promotions-offers__item--1 a {
    margin-top: 50px;
  }
}

@media (max-width: $mobile-width) {
  .promotions {
    min-height: 1100px;
    padding-top: 69px;
    padding-bottom: 44px;
  }

  .promotions h2 {
    font-size: 32px;
    line-height: 32px;
  }

  .promotions__wrapper {
    width: 100%;
    max-height: 100%;
    padding-top: 42px;
    flex-wrap: wrap;
  }

  .promotions__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    min-width: 290px;
    padding-top: 38px;
    padding-left: 0;
  }

  .promotions__text a {
    margin-top: 32px;
  }

  .promotions__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 599px;
    padding-bottom: 0;
    min-width: 100%;
  }

  .promotions__img {
    width: 100%;
    min-height: 299px;
    background-size: 100% 299px;
    background-image: url("../img/promotions-mobile@1x.jpg");
    background-position: 100%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/promotions-mobile@2x.jpg");
    }
  }

  .promotions__description {
    text-align: center;
    padding-top: 0;
  }

  .promotions-offers a {
    margin-top: 28px;
  }

  .promotions-offers {
    min-width: 100%;
    min-height: 0%;
    margin-top: 29px;
    flex-direction: column;
  }

  .promotions-offers__item {
    min-width: 0;
    width: 96%;
    height: 199px;
    margin-bottom: 25px;
  }

  .promotions-offers__item-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-top: 26px;
    padding-left: 0;
  }

  .promotions-offers__item-text p {
    text-align: center;
    width: 160px;
  }

  .promotions-offers__item--1 p {
    padding-right: 0;
  }

  .promotions-offers__item--1 a {
    margin-top: 30px;
  }
}
