.trainers {
  padding-top: 115px;
  padding-bottom: 96px;
}

.trainers__wrapper {
  position: relative;
  width: 100%;
}

.trainers h2 {
  font-family: $font-bebas;
  color: $blue;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  margin: 0;
}

.trainers__list {
  position: relative;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 52px;
  padding: 0;
  justify-content: space-between;
}

.trainers__svg-desktop {
  display: block;
}

.trainers__svg-mobile {
  display: none;
}

.trainers__button-left {
  max-width: 1200px;
  height: 38px;
  position: absolute;
  left: -5.5%;
  top: 42.5%;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: none;
  box-shadow: none;
  outline-offset: 0;
  fill: none;

  @media (max-width: 1300px) {
    left: -3%;
  }

  &:hover,
  &:focus {
    outline: 1px solid $blue;
  }
}

.trainers__button-right {
  height: 38px;
  position: absolute;
  right: -5.5%;
  top: 43%;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: none;
  box-shadow: none;
  outline-offset: 0;
  fill: none;

  @media (max-width: 1300px) {
    right: -3%;
  }

  &:hover,
  &:focus {
    outline: 1px solid $blue;
  }
}

.trainers__item h3 {
  display: block;
  margin: 0;
  font-family: $font-roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  width: 100%;
  position: absolute;
  top: 242px;
  left: 0;
  text-align: center;
  color: $white;
}

.trainers__item {
  position: relative;

  &:hover .trainers__name {
    display: none;
  }

  &:hover .trainers__info {
    display: block;
  }
}

.trainers__info {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(16, 38, 84, 0.89);
  color: $white;
  font-family: $font-roboto;

  & h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    padding-top: 50px;
    margin: 0;
  }

  & span {
    font-weight: 400;
    color: #b6bdcc;
    font-size: 16px;
    line-height: 18px;
    padding-left: 105px;
  }

  & ul {
    list-style: outside;
    padding-top: 36px;
    padding-left: 72px;
  }

  & li {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 13px;
    box-sizing: border-box;
    padding-right: 10px;
  }
}

.trainers__button {
  position: absolute;
}

@media (max-width: $tablet-width) {
  .trainers {
    padding-top: 93px;
    padding-bottom: 90px;
  }

  .trainers h2 {
    font-size: 42px;
    line-height: 42px;
    text-align: center;
  }

  .trainers__button-left {
    height: 32px;
    left: -5px;
    top: 49.5%;
  }

  .trainers__button-right {
    height: 32px;
    right: -4px;
    top: 49%;
  }

  .trainers img {
    width: 268px;
    height: 294px;
  }

  .trainers__list {
    width: 100%;
    max-width: 566px;
    padding-top: 41px;
    display: flex;
    margin: 0 auto;
    overflow: hidden;
  }

  .trainers__svg-desktop {
    display: block;
  }
  
  .trainers__svg-mobile {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .trainers {
    padding-top: 67px;
    padding-bottom: 67px;
  }

  .trainers h2 {
    font-size: 32px;
    line-height: 32px;
  }

  .trainers img {
    width: 226px;
    height: 274px;
  }

  .trainers__list {
    max-width: 225px;
    width: 100%;
  }

  .trainers__svg-desktop {
    display: none;
  }
  
  .trainers__svg-mobile {
    display: block;
  }

  .trainers__button-left {
    left: -6px;
    top: 52.5%;
  }

  .trainers__button-right {
    right: -6px;
    top: 52.5%;
  }
}
