$table-width: 1199px;
$mobile-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$font-roboto: "Roboto Condensed", "Arial", sans-serif;
$font-bebas: "Bebas Neue", "Candara", sans-serif;
$white: #ffffff;
$black: #000000;
$blue: #102654;
$blue-1: #103AAE;
$blue-2: #2E35AC;
$blue-3: #1C3374;
$blue-4: #030A1A;
$grey: #495A7D;
$grey-1: #F8F9FC;
$red: #ED0233;