$tablet-width: 1199px;
$mobile-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$font-roboto: "Roboto Condensed", "Arial", sans-serif;
$font-bebas: "Bebas Neue", "Candara", sans-serif;
$white: #ffffff;
$black: #000000;
$blue: #102654;
$blue-1: #103aae;
$blue-2: #2e35ac;
$blue-3: #1c3374;
$blue-4: #030a1a;
$grey: #495a7d;
$grey-1: #f8f9fc;
$grey-2: #e8e8e8;
$red: #ed0233;
